{
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "minify": {
      "mangle": true
    },
    "externalHelpers": true
  },
  "module": {
    "type": "umd"
  },
  "sourceMaps": true
}
