{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "externalHelpers": true
  },
  "module": {
    "type": "umd"
  },
  "sourceMaps": true,
  "exclude": ["src/util/_common-letter-words.ts"]
}
